// Navigation Filtering

.filter-cat {
  span {
    font-weight: 100;
    margin-left: 10px;
  }

  button {
    @include button;
    cursor: pointer;
    padding: 6px 23px;
    margin-right: 10px;
    background-color: #6c2a29;
    color: #FFFFFF;
    font-size: 16px;

    &:hover {
      color: #000000;
    }

    &.active {
      background-color: #FFFFFF;
      color: #000000;
    }
  }
}

// Individual cards, single page cards

.card {
  background: #FFFFFF;
  color: #000000;
  margin: 10px 10px;
  border-radius: 5px 5px 0px 0px;
  max-width: 100%;

  h1, h2, h3 {
    padding-top: 0px;
  }

  .inside-wrap {
    padding: 25px;
  }
}

// Directory Cards

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  
  // Change width for archive page
  .card {
    max-width: 28%;
    &.active {
      @for $i from 1 to 10 {
  	  &:nth-child(#{$i}) { 
  	  	animation: staircaseReveal 120ms $i * 0.1s both;
      }
	  }
	}

    .featured-image {
    	img {
    		width: 100%;
    		height: auto;
    		border-radius: 5px 5px 0px 0px;
    	}
    }

    .no-image {
    	img {
    		width: 100%;
    		height: auto;
    		border-radius: 5px 5px 0px 0px;
    	}
    }

    h2 {
    	font-size: 30px;
    	margin-bottom: 0px;
    }

    h3 {
    	font-size: 14px;
    	font-weight: bold;
    	margin-bottom: 12px;
    }

    p {
    	font-size: 17px;
    	margin: 0px;
    }
  }
}

/* ---- Mobile Styling ---- */
@media handheld, only screen and (max-width: 730px) {
  .filter-cat {
    width: 100%;
    margin: 0px auto;
    text-align: center;

    span {
      display: none;
    }

    button {
      margin: 6px 0px;
    }
  }

  .card-wrapper {
    .card {
      max-width: 43%;

      .inside-wrap {
        padding: 15px;

        p {
          font-size: 15px;
        }
      }
    }
  }
}