/* ---- Mobile Styling ---- */
@media handheld, only screen and (max-width: 730px) {
  h1.page-title {
    font-size:1.4em !important;
  }

  a.btn {
    display: block;
    width: 88%;
    padding: 10px 0px;
    margin: 10px auto;
  }

  #header {
    background-size: 200%;

    #logo {
      width: 25%;
      padding: 10px 19px;
    }

    #title-banner {
      padding: 30px 0px 30px 30px;

      h2 {
        font-size: 24px;
        padding: 0px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .nav {
    justify-content: center;
    lex-direction: column;
  }

  #content {
    padding:0px 10px;
  }
  blockquote {
    font-size: 1em;
    width: 95%;
    margin-bottom: 10px;
  }
  .powered-by {
    div {
      font-size: 12px;
      width: 22%;

      img {
        width: 80%;
        margin-top: 10px;
      }
    }
  }
}
