/* ---- Mobile Styling ---- */
@media handheld, only screen and (max-width: 730px) {
  h1.page-title {
    font-size:1.4em !important;
  }

  a.button {
    display: block;
    width: 88%;
    padding: 10px 0px;
    margin: 10px auto;
    font-size: 15px;
  }

  #header {
    background-position: center center !important;
    flex-direction: column;

    #logo {
      width: 25%;
      padding: 10px 19px;
      border-right: 0;
    }

    #main-content {
      padding: 0px;
      width: 80%;

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 21px;
        padding: 0px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .nav {
    justify-content: center;
    flex-direction: row;
    width:70%;
    top: 80px;
    right: 12px;
  }

  #content {
    padding:0px 10px;
  }

  blockquote {
    font-size: 1em;
    width: 95%;
    margin-bottom: 10px;
  }

  .powered-by {
    div {
      font-size: 12px;
      width: 22%;

      img {
        width: 80%;
        margin-top: 10px;
      }
    }
  }
}
