// Colors

$primary-color: #FCFCFC;
$secondary-color: #000000;
$secondary-color-alt: #000000;

$primary-font-color: #000000;

$background-color: #212121;

$button-color: #e57066;

// Fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;